.popup__name {
  color: #000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0 0 0 36px;
  outline-style: none;
}

@media screen and (max-width: 500px) {
  .popup__name {
    margin: 0 22px 0 22px;
  }
}